Downloads/
workspace/
wallpapers/

#config
.config/Atom
.config/chromium
.config/dconf
.config/gtk-2.0
.config/gtk-3.0
.config/menus
.config/obs-studio
.config/procps
.config/pulse
.config/syncthing/
.config/Thunar
.config/vlc
.config/xfce4
.config/mimeapps.list
.config/pavucontrol.ini

#bash
.bash_logout
.bash_profile
.bashrc

#git
.gitconfig

#misc
.atom/
.audacity-data/
.bundle/
.cache/
.gem/
.gnome/
.icons/
.local/
.pki/
.rvm/
.ssh/
.thumbnails/
.esd_auth
.fehbg
.zcompdump
.histfile
.gtkrc-2.0
