# atom
.atom

#cache
.cache

#config
.config/Atom
.config/chromium
.config/dconf
.config/gtk-3.0
.config/menus
.config/procps
.config/pulse

#gnome
.gnome

#local
.local

#pki
.pki

#bash
.bash_logout
.bash_profile
.bashrc

#git
.gitconfig

#misc
.esd_auth
.zcompdump
.histfile
